body{
	font-family: proxima nova,helvetica neue;
}

.chart rect { fill: #00FFCC }


div.tooltip {
    position: absolute;
    text-align: left;
    width: 140px;
    height: 35px;
    padding: 2px;
    font: 16px sans-serif;
		color: white;
    background: #181818;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
